@import "../../../stylings/color-pallete";
@import "../../../stylings/custom-fonts.scss";

.background {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: url(../../../../assets/images/error404.png);
  background-size: cover;
  opacity: 0.3;
}

.click-escuela {
  width: auto;
  height: 120px;
}

.click-escuela {
  width: auto;
  height: 120px;
}

.login-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.login-button {
  transition: 0.5s ease-in-out;
  transform: scale(0.8);
}

.login-button {
  transition: 0.5s ease-in-out;
  transform: scale(0.8);
}

.login-button.show {
  transform: scale(1);
}

.login-box {
  position: relative;
  width: 350px;
  height: 450px;
  background-color: whitesmoke;
  border-radius: 15px;
  z-index: 99;
  margin-top: 2em;
  box-shadow: 2px 2px 12px 3px rgba(0, 0, 0, 0.205);
}
.login-box {
  position: relative;
  width: 350px;
  height: 450px;
  background-color: whitesmoke;
  border-radius: 15px;
  z-index: 99;
  margin-top: 2em;
  box-shadow: 2px 2px 12px 3px rgba(0, 0, 0, 0.205);

  display: flex;
  justify-content: space-around;
  border-bottom: 7px solid #00000054;
}

.mat-form-field:first-child {
  margin-top: 3em;
}

.mat-form-field {
  margin-top: 1em;
}

.login-box svg {
  position: absolute;
  width: 90px;
  right: 2px;
  z-index: 101;
  bottom: 0;
  filter: drop-shadow(-2px 1px 12px rgba(0, 0, 0, 0.425));
}

html,body{
  height: unset !important;
}

::ng-deep .welcome-tooltip {
  background: $green !important;
  font-family: Bebas !important;
  font-size: 1em !important;
  color: black !important;
  transform: skew(15px);
  transition: 0.5s ease-in-out;
}

svg,
g {
  transition: 0.5s ease-in-out;
  cursor: help;
}

a {
  font-size: 0.8em;
  transition: 0.5s ease-in-out;
  color: $custom-blue !important;
  cursor: pointer;
}

a:hover {
  transform: scale(1.1);
}

g#hand {
  transition: 0.5s ease-in-out;
  transform: scale(0);
}

g#clicky-eyes {
  transition: 0.5s ease-in-out;
}

g#clicky-eyes.view-login {
  transform: skew(-8deg, -4deg);
}

svg:hover g#clicky-eyes.move-eyes {
  transform: translateY(-30px) scaleY(0.9);
}


.avatar {
  position: relative;
  display: flex;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid $custom-blue;
}

.avatar img {
  position: absolute;
  width: 100%;
  height: 110%;
}

.password-saver {
  cursor: pointer;
  position: absolute;
  width: 30px;
  height: 30px;
}

::ng-deep .password-saver > svg path {
  fill: $custom-blue;
}
::ng-deep .password-saver > svg line#blue-line {
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 26px;
  stroke: $custom-blue;
  transition: 0.5s ease-in-out;
}
::ng-deep .password-saver > svg line#white-line {
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 26px;
  stroke: white;
  transition: 0.5s ease-in-out;
}
::ng-deep .password-saver.no-view > svg line {
  stroke-dasharray: 511;

  animation: dash-offset-revserse 0.5s ease-in-out forwards;
}

::ng-deep .password-saver.view > svg line {
  stroke-dasharray: 511;

  animation: dash-offset 0.5s ease-in-out forwards;
}

@keyframes dash-offset {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 511;
  }
}

@keyframes dash-offset-reverse {
  from {
    stroke-dashoffset: 511;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.avatar img {
  position: absolute;
  width: 100%;
  height: 110%;
}

@media (max-width: 960px) {
  .login-container {
    height: auto;
    margin-top: 1em;
  }
}
