<div class="container" style="margin-top: 2em">
  <div id="buttonsTab" class="row mt-4 mb-4">
    <div class="col-4 svg-content">
      <mat-icon class="icon-svg" svgIcon="upload"></mat-icon>
    </div>

    <div class="col-4 text-center">
      <h5>Altas Masivas</h5>
    </div>

    <div class="col-4 action-buttons">
     
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-6">
        <app-drag-and-drop (startLoad)="startLoad($event)"></app-drag-and-drop>
      </div>
      <div class="col-6">
        <div class="download-template">
          <div class="teacher-template">
            <mat-icon class="icon-svg" svgIcon="add-teacher"></mat-icon>
  
            <p class="info-text">Descargar plantilla de Docentes</p>
  
          </div>
          <div class="student-template">
            <mat-icon class="icon-svg" svgIcon="add-student"></mat-icon>
            <p class="info-text">Descargar plantilla de Estudiantes</p>
  
          </div>
        </div>
      </div>
    </div>
  
    
    
  </div>
  <div class="div" *ngIf="onLoad">
    <mat-progress-bar mode="determinate" [value]="loadPercentage"></mat-progress-bar>
    <p class="text-center">Cargando archivo {{fileName}} : {{loadPercentage}} %</p>
  </div>

  <app-load-details></app-load-details>