<div class="container" style="margin-top: 2em">
  <div id="buttonsTab" class="row mt-4 mb-4">
    <div class="col-4 svg-content">
      <mat-icon class="icon-svg" svgIcon="upload"></mat-icon>
    </div>

    <div class="col-4 text-center">
      <h5>Altas Masivas</h5>
    </div>

    <div class="col-4 action-buttons">
      <div
        id="go-back-button"
        *ngIf="selectedOption != 0"
        class="action-item"
        [ngClass]="{
          'go-back': selectedOption != 0,
          clear: selectedOption == 0
        }"
        matTooltip="Volver"
        (click)="selectMenu(0)"
      >
        <svg
          version="1.1"
          id="Capa_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 512 512"
          style="enable-background: new 0 0 512 512"
          xml:space="preserve"
        >
          <defs>
            <style>
              .arrow {
                fill: #9acd8d;
              }
            </style>
          </defs>
          <g>
            <g>
              <path
                class="arrow"
                d="M496.128,220.361l-160-144.032c-19.712-17.728-50.08-16.192-67.808,3.584c-17.728,19.68-16.128,50.048,3.584,67.776
              l66.976,60.32H48c-26.528,0-48,21.472-48,48s21.472,48,48,48h290.944l-67.072,60.32c-19.712,17.76-21.312,48.096-3.584,67.776
              c9.504,10.528,22.592,15.904,35.712,15.904c11.456,0,22.944-4.064,32.096-12.32l160-143.968
              c10.112-9.088,15.904-22.08,15.904-35.68C512,242.441,506.208,229.449,496.128,220.361z"
              />
            </g>
          </g>
        </svg>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="col-12" [ngSwitch]="selectedOption">
        <div *ngSwitchCase="0">
          <div class="grid" [ngClass]="{ 'show-opacity': selectedOption == 0 }">

          <div class="option" (click)="selectMenu(1)">
            <div class="content">
              <img src="../../../../assets/images/add-student.svg" alt="" />
              <p>Alta masiva de alumnos</p>
            </div>
          </div>
    
          <div class="option" (click)="selecMenu(2)">
            <div class="content">
              <img src="../../../../assets/images/add-teacher.svg" alt="" />
              <p>Alta masiva de docentes</p>
            </div>
          </div>
    
    
        </div>
        </div>
       
        <div *ngSwitchCase="1">
          <app-student-load></app-student-load>
        </div>
        <div *ngSwitchDefault>output2</div>
      </div>
       
      </div>
    </div>



