@import url(../../../stylings/custom-fonts.scss);
.credit-card{
    width: 30vw;
    height: auto;
    z-index: 0;
   
}

.change-layout::before{
  position: absolute;
  z-index: 9;
  content: "";
  background: url(../../../../assets/images/shine.svg);
  width: 150%;
  height: 189%;
  top: -70px;
  background-repeat: no-repeat;
  background-position-x: 32%; animation: shine 1s ease-in-out;
}

.card-container:hover::before{
 
}

@keyframes shine {
  from{
    background-position-x:32%;
  } 
  to{
    background-position-x: 100%;
  }
}




.card-container{
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.cls-1 {
    isolation: isolate;
  }

  .body.red {
    fill: #e70506;
  }

  .body.blued {
    fill: #1781b8;
  }

  .cls-3 {
    fill: url(#linear-gradient);
  }

  .cls-4, .cls-8 {
    mix-blend-mode: multiply;
  }

  .cls-4 {
    fill: url(#linear-gradient-2);
  }

  .cls-5, .cls-6 {
    fill: #d6d6d6;
  }

  .cls-6 {
    fill-rule: evenodd;
  }

  .expiration, .owner, .cls-7, .card-number {
    fill: #fff;
    font-family: Kredit;
    font-weight: bold;

  }

  .cls-8 {
    opacity: 0.06;
    fill: url(#linear-gradient-3);
  }

  .card-number {
    font-size: 17px;
  }
  .expiration {
    font-size: 14px;
  }
 

  .owner {
    font-size: 12.39px;
  }

  .cls-12 {
    letter-spacing: -0.01em;
  }

  .cls-13 {
    letter-spacing: 0em;
  }

  .cls-14 {
    letter-spacing: 0em;
  }


  