<div class="container center">
  
  <div class="row">
    <div class="col-12 text-center background-message" >
    
      <div class="clicky">
        <img src="../../../../assets/images/clicky-anim.svg" alt="">
      </div>
      <div class="row">

        <h4 style="font-size: 8em !important;">:401</h4>
      </div>
      <div class="row">

        <h4>No tiene los permisos necesarios para ingresar a esta página</h4>
        
        <div class="mt-4">

          <button mat-raised-button (click)="goBack()" class="mr-4 go-back" >Volver</button>
      
          <button mat-raised-button (click)="confirmDialog()">IR a la página de inicio de sesión</button>
        </div>

      </div>

    </div>
  </div>
</div>