@import "../../../stylings/color-pallete.scss";
@import "../../../stylings/custom-fonts.scss";

::ng-deep .mat-dialog-container
{
    background-color: $custom-blue;
    border: 2px solid $custom-blue;
    color: whitesmoke;
    padding: 0 !important;
    overflow-x: hidden;
}

::ng-deep .cancelButton{
    background-color: rgba(175, 26, 26, 0.4);
    margin-right: 1.6em;
    font-family: Bebas !important; 
    font-weight: bold;
    
}
::ng-deep .confirmButton
{
    background-color: #9acd8d85;
   
}

.message-content{
    padding: 1.6em;
    font-weight: bold;
}





p{
    margin-top: 24px;
}